body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-items: center;
    background-color: black;
    color: white;
    height: 11vh;
}
.pages{
    display: flex;
}
.btn{
    width: 150px;
    color: black;
    font-weight: bold;
}
.btn:hover{
    box-shadow: 0px 0px 6px 6px white;
}
button{
    line-height: 36px;
    margin: 10px;
    width: 80px;
    border-radius: 20px;
    font-weight: bold;
}
.buttons{
    margin: 4%;
}
button:hover{
    cursor: pointer;
    background-color: rgb(241, 159, 246);
    transition: 0.5s;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 2px 2px white;
}
.home{
    height: 80vh;
}
.info{
    background-image: url("https://img.freepik.com/premium-photo/cream-color-wall-empty-room-with-plants-wooden-floor-3d-rendering_41470-4359.jpg?w=826");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    padding: 25px;
    height: 80vh;
    text-align: center;
}

.info p{
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    margin-top: 10% ;
    padding-left:50% ;
}
.info h1{
    font-size: 40px;
}
.info h2{
    font-size: 30px;
}
nav h2{
    cursor: pointer;
}
.footer{
    text-align: center;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 3px;
}
.active:hover{
    color: rgba(14, 79, 243, 0.97);
    transition: 0.3s;
}
.about{
    background-color: rgb(238, 208, 169);
    padding: 10px;
    height: 60vh;
    border-radius: 10px;
    margin-top: 2%;
    text-align: center;
}
.foot{
    padding-top: 10%;
}
.contact{
    background-color: rgb(238, 208, 169);
    padding: 13px;
    height: 120vh;
    border-radius: 10px;
    margin-top: 2%;
}
input{
    line-height: 30px;
    width: 220px;
    border-radius: 18px;
    border: 1px solid black;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0px 2px 2px 0px;
    outline: none;
}
a{
    text-decoration: none;
}
.login{
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    margin-top: 2%;
    align-items: center;
    width: 40%;
    border-radius: 18px;
    border: 1px solid black;
    padding: 2%;
    font-weight: bold;
    box-shadow: 0px 2px 2px 0px;
    outline: none;
    background-color: rgba(155, 184, 245, 0.925);
}
.bar{
    background-color: rgba(228, 228, 228, 0.826);
}
.main input{
    margin-top: 5%;
    margin-left: 44%;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    color: rgb(41, 40, 40);
    height: 10vh;
    margin-left: 25%;
    margin-right: 25%;
}
.login input{
    margin: 10px;
    text-align: center;
}
.card-container {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 340px); 
    grid-auto-rows: auto; 
    margin-left: 6%;
    grid-gap: 20px;
  }
  
  .card {
    margin-top: 10px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 20px; 
    background-color: rgb(252, 225, 225);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px
  }
  .card:hover{
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 0px 0px 4px 4px;
  }
  .book{
    background-image: linear-gradient(to right, #007bff, #007bff); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 90px;
    border-radius: 14px;
  }
  .book:hover{
    transform: rotate3d(1, 1, 1, 360deg);
    transition: 0.5s;
    background-image: linear-gradient(to right, #227ad7, #033468); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 90px;
    border-radius: 14px;
    box-shadow: 0px 0px 4px 4px white;
  }
  .data{
    margin-top: 10px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 20px; 
  } 